* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: radial-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: pink;
  background-color: antiquewhite;
}
