@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.description1,
.description2,
.description3,
.img1,
.img2,
.img3 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

/* Apply different animation delays to each element */
.description1,
.img1 {
  animation-delay: 0.1s;
}

.description2,
.img2 {
  animation-delay: 0.3s;
}

.description3,
.img3 {
  animation-delay: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab";
}

div {
  border: solid px black;
}

.header {
  height: 100px;
  width: auto;
  text-align: center;
  color: white;
}

.header {
  margin-top: 10px;
}

body {
  margin: 0%;
  background-image: url(https://images.unsplash.com/photo-1625396644470-84722d8f359e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

p {
  color: rgb(245, 243, 243);
  font-size: large;
}

.description1,
.description3 {
  margin-left: 150px;
  text-align: center;
  border-left: solid 2px white;
}

.description2 {
  margin-right: 150px;
  text-align: center;
  border-right: solid 2px white;
}

.honors1,
.honors2,
.ssb {
  height: max-content;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: white;
  border-left: 0;
  border-right: 0;
}

img {
  height: fit-content;
  width: 500px;
  border-radius: 20px;
}

.img1,
.img3 {
  margin-right: 250px;
  margin-left: 200px;
  height: max-content;
  width: max-content;
}

.img2 {
  margin-left: 400px;
  margin-right: 200px;
  margin-left: 200px;
  height: max-content;
  width: max-content;
}

.Home {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 20px;
  width: max-content;
}

.back-to-home {
  text-decoration: none;
  color: white;
  font-size: large;
  margin-bottom: 30px;
}
